*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:'Poppins', sans-serif;
}
a{
    color: black;
}


@media screen and (max-width:500px) {

    .close-sidebar{
        transform: translateX(300px);
        transition: all 200ms ease-in;
    }
    
    .open-sidebar{
        transform: translateX(0px);
        transition: all 200ms ease-in;
    }
    p, h1 ,h2,h3{
        text-align: center;
    }


    img{
        max-width: 100%;
    }
    
    body{
        font-family: Merriweather, Georgia, serif;
    }
    main{
        padding: 0rem 2rem;
    }
    header{
        background-image: url("/assets/images/bg.jpg");
        background-size: cover;
    }
    .title{
        color: white;
        font-size: 60px;
        padding-top: 10rem;
        text-transform: uppercase;
    }
    .heading-paragraph{
        color: white;
        font-size: 1rem;
        padding: 1.5rem;
        line-height: 2em;
        font-weight: bold;
    }
    .fa-xmark{
        display: flex;
        color: black;
        margin-left: 0.5rem;
        font-size: 2rem;
        opacity: .5;
        justify-content: end;
        margin-right: 2rem;
    }
    .pagination-btn{
        display: none;
    }
    .next{
        display: block;
        margin: auto;
        padding: .7rem 1.5rem;
        background: white;
        font-size: .5rem;
        font-weight: 800;
        border: 1px solid gray;
    }

    
    nav{
        position: fixed;
        background: white;
        inset: 0 0 0 30%;
    }
    a{
        color: black;
    }
    li{
        margin: 1.5rem;
    }
    .nav-links{
        margin: 2rem 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .social-icons{
        display: flex;
        font-size: 1.5rem;
        margin: .5rem;
    }
    .fa-brands{
        border:1px solid gray;
        border-radius: 50%;
        padding: .4rem;
    }
    .fa-bars{
        color: white;
        display: flex;
        justify-content: end;
        margin-right: 1rem;
        padding: 2rem 1rem 1rem 1rem;
        font-size: 2rem;
    }
    .fa-circle-arrow-down{
        display: none;
    }
    .date{
        font-size: 1.5rem;
        margin: 2rem;
        position: relative;
        z-index: -1;

    }
    .date::after{
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: gray;
        left: -26%;
        bottom: 28%;
        position: absolute;
        opacity: .5;
    }
    .date::before{
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: gray;
        right: -26%;
        bottom: 28%;
        position: absolute;
        opacity: .5;
        z-index: -1;
    }
    .primary-btn{
        display: block;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid black;
        font-size: 1rem;
        padding: .7rem;
        background-color:white;
        color: black;
    }
    .sub-title{
        font-size: 2.5rem;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 4rem;
    }
    .section-paragraph{
        font-size: 1rem;
        font-weight: 600;
        opacity: .6;
        margin: 1rem 0rem;
        line-height: 1.6;
    }
    .btn{
        width: 100%;
        padding: 0.7rem;
        font-size: 1rem;
        margin: 1rem 0rem;
        border: 1px solid black;
        background: white;
        color: black;
    }
    .card-paragraph{
        font-size: 1rem;
        font-weight: 400;
        opacity: .6;
        margin: 1rem 0rem;
        line-height: 2rem;
    }
    .card-date{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .footer-btn{
        padding: 0.7rem;
        margin: 1rem 0rem;
        background: white;
        font-size: 1rem;
        font-weight: bold;
        color: gray;
        border: 1px solid gray;   
    }
    .card-title{
        font-size: 1.5rem;
        font-weight:bold;
        margin-bottom: 1rem;
    }

    .user-details{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    footer{
        padding: 0rem 1rem;
        margin-bottom: 3rem;
    }
    label{
        font-size: 1rem;
        font-weight: 600;
        margin: .5rem 0rem;
        color: gray;
    }
    input{
        padding: 1rem;
        border: 1px solid gray
    }
    .address > label{
        font-size: 1rem;
        display: block;
    } 
    .address > input{
        border: 0;
    }
    .footer-span{
        font-size: .8rem;
    }

    .footer-icons > label{
        font-size: 1rem;
    }
    .footer-icons{
        color: gray;
        margin-bottom: 2rem;
    }
    .last-section{
        background: #212931;
        padding: 2rem;
        color:#717981;
    }
    .last-section > p{
        margin: 1rem 0;
        font-weight: 700;
        font-size: .8rem;
        text-transform: uppercase;
    }
    .fa-brands{
        margin: 0rem 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width:35em){

    p, h1 ,h2,h3{
        text-align: center;
    }

    body{
        background: #212931;
    }
    
    .fa-bars{
        display: none;
    }
    
    .fa-xmark{
        display: none;
    }
     main{
        padding: 0  3rem;
        margin: 0rem 10rem;
        background: white;
    }
    .section-img{
        max-width: 100%;
        margin-bottom: 1rem;
    }
    header{
        margin: 0rem 2rem;
        background-image: url("/assets/images/bg.jpg");
        background-size: cover;
        padding: 10rem;
    }
    
    .title{
        font-size: 5rem;
        color: white;
        font-weight: 900;
        text-transform: uppercase;
    }
    .heading-paragraph{
        color: white;
        line-height: 2rem;
    }
    
    .fa-circle-arrow-down{
        font-size: 2.5rem;
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        background: #717981;
        padding: 1rem;
    }
    
    .nav-links{
        display: flex;
        gap: 1rem;
    }
    .nav-links  a{
        color: white;
        border: 0px;
        outline: 0cm;
    }
    .nav-links a:focus{
        background: white;
        color: black;
        padding: 1rem;
    }
    .fa-brands{
        margin: 0rem .7rem;
        color: white;
    }
    .date{
        font-size: 1rem;
        margin: 1rem 0rem;
    }

    .sub-title{
        text-align: center;
        font-size: 3rem;
        padding: 0 10rem;
    }
    .section-paragraph{
        font-size: 1rem;
        font-weight: 600;
        color: gray;
        margin: 1rem 0rem;
        padding: 0 10rem;
    }
    .cards-section-one{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 2rem 4rem;
    }
    
    .card-paragraph{
        font-size: 1rem;
        font-weight: 400;
        color: #717981;
        margin-bottom: 1rem;
    }
    .card-img{
        max-width: 100%;
        margin: 1rem 0;
    }
    .btn{
        display: block;
        margin: auto;
        padding: .5rem 1rem;
        background: white;
        outline: 0;
    }
    .card-date{
        font-size: .7rem;
        color: gray;
        margin: 1rem 0;
    }
    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pagination-btn{
        padding: .7rem;
        margin: 2rem 0;
        font-size: .5rem;
        font-weight: bold;
        border: 1px solid lightgray;
        background: white;
    }
    .pagination-btn:focus{
        background: lightgray;
        outline: 0;
    }
    .footer-form{
        padding: 2rem 3rem;
        margin: 0 10rem;
        background: lightgray;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .user-details{
        display: grid;
    }
    .address{
        display: grid;
    }
    .user-details > input{
        padding: .4rem;
        outline: 0;
        border: 1px solid gray;
    }
    .address > input{
        background: none;
        border: 0;
    }
    .footer-btn{
        display: block;
        width: 30%;
        padding: .5rem;
        margin: 1rem 0;
    }
    .footer-icons{
        margin: 1.5rem 0;
    }
    .footer-span{
        color: #717981;
        line-height: 2rem;
    }
    .fa-brands{
        color: black;
        border: 1px solid gray;
        border-radius: 50%;
        padding: .3rem;
        opacity: .5;
    }
    .primary-btn{
        display: block;
        margin: auto;
        padding: .7rem 3rem;
        background: white;
        font-weight: 900;
    }
    .last-section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: gray;
        margin: 2rem 0rem;
        font-size: .9rem;
    }


    }
 
