*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@media screen and (max-width:35em) {
    img{
        max-width: 100%;
    }
    
    body{
        font-family: 'Inter', sans-serif;
    }
    header{
        background-image: url("/assets/images/bg.jpg");
        background-size: cover;
    }
    .title{
        color: white;
        font-size: 60px;
        text-align: center;
        margin-top: 10rem;
        text-transform: uppercase;
        padding: .5rem;
    }
    .heading-paragraph{
        color: white;
        text-align: center;
        font-size: 1rem;
        padding: 1.5rem;
        line-height: 2em;
        font-weight: bold;
    }
    .fa-xmark{
        display: flex;
        color: black;
        margin-left: 0.5rem;
        font-size: 2rem;
        opacity: .5;
        justify-content: end;
        margin-right: 2rem;
    }
    
    nav{
        position: fixed;
        background: white;
        inset: 0 0 0 30%;
    }
    a{
        color: black;
    }
    li{
        margin: 1.5rem;
    }
    .nav-links{
        margin: 2rem 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .social-icons{
        display: flex;
        font-size: 1.5rem;
        gap: .5rem;
        margin: 1.5rem;
    }
    .fa-brands{
        border:1px solid gray;
        border-radius: 50%;
        padding: .4rem;
    }

    


}
